
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-transform: capitalize;
}

header{
    background-color: rgba(25, 116, 146, 0.315);
    width:100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight:700;
    color: darkgoldenrod;
}

#btnscroll{
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
}


button{
    border: none;
    border-radius: 4px;
    background:rgb(34, 135, 168) ;
    color: white;
    width: 50px;
    height: 30px;  
    cursor: pointer;  
    transition: 0.2s;
}

button:hover{
    background: darkgoldenrod;
    transform: scale(1.1);
}

#open{
    position: absolute;
    right:40px;
}

#close{
    position: absolute;
    right: 40px;
}

.hide{
    display: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    padding-left:  25px;
}

.navbar a:hover{
    color: darkgoldenrod;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(imgs/VWpC9BDT.png) no-repeat ;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    font-size: 1.4em;
    font-weight: 500;
    color: #eee;
}

.main h2 span{
    display: inline block;
    margin: 20px;
    color: darkgoldenrod;
    font-size: 3em;
    font-weight: 600;
}

.main h3{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color: #eee;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    background-color: rgba(67, 174, 209, 0.315);
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 15px;
    letter-spacing: 1px;
    transition-duration: 0.4s;
}
.main-btn:hover{
    background-color: rgb(18, 63, 78) ;
transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-left: 15px;
}

.title{
    display: flex;
    justify-content: center;
    color:  rgb(30, 97, 119);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-flex;
}

.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px  gray ;
    border-radius: 10px;
    padding: 25px;
    margin:15px ;
    transition: 0.4s ease;
    position: absolute;
    

}
.card:hover{
    transform: scale(1.1);
}

.icon{
    color: rgb(30, 97, 119) ;
    font-size: 8em;
    text-align: center;
    transition: 0.3s ease;
}

.icon:hover{
    color: darkgoldenrod;
    transform: scale(1.1);
}

.info h3{
    color:  rgb(30, 97, 119);
    font-size: 1.1em;
    font-weight: 700;
    margin: 10px;
}

.gallary0{
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}

.img1{
height: 600px ;
position:relative;
left: 100px;
bottom: 250px;
}

.photos img {

    height: 100px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;

}

.mainphoto{
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ;
    
}
.mainphoto:hover{
    transform: scale(1.1);
}

